body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('https://images.pexels.com/photos/163018/food-business-lunch-restaurant-lunch-163018.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}
